/Docs/_build
/Docs/apidoc/html
/Docs/apidoc/latex
/Debug/
/Generated_Code/
/Documentation/
/.settings/
ProjectInfo.xml
core
*.g_c*
*.g_x*
*.project
*.cproject
.project
.cproject
sumo_bsw JLink Debug.launch
/Release/
